.container-apresentacao {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1% 15%;
  gap: 1rem;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
  display: flex;
  place-content: center;
}

.video-responsive iframe {
  height: 75%;
  width: 75%;
  position: absolute;
}

.apresentacao-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
