ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  align-self: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

header {
  align-items: center;
  display: grid;
  background-color: forestgreen;
  width: 100%;
  height: 50px;
}

@media (max-width: 1600px) {
  a {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  a {
    font-size: 11px;
  }
}

@media (max-width: 900px) {
  a {
    font-size: 7px;
  }
}

@media (max-width: 600px) {
  a {
    font-size: 5px;
  }
}
