ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  align-self: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

header {
  align-items: center;
  display: grid;
  background-color: forestgreen;
  width: 100%;
  height: 50px;
  text-align: center;
}

.mobile {
  display: none;
}
.dropdown {
  position: relative;
  display: flex;
}

.drop-button {
  background-color: forestgreen;
  border: 1px solid black;
  color: black;
  display: flex;
  font-size: 16px;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  width: 50px;
  margin-left: auto;
}

.white-line {
  height: 3px;
  background-color: white;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0;
  right: 0;
  width: 100vw;
  text-align: inherit;
  font-weight: 600;
  line-height: 1.5em;
  background: white;
}

.show {
  display: flex;
  flex-direction: column;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
  }
}

@media (max-width: 1200px) {
  a {
    font-size: 14px;
  }
}
