.carrossel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% 0px;
}

.carrossel-image {
  max-width: 100%;
  min-height: 800px;
  max-height: 1250px;
}

.previous-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: forestgreen;
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.previous-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

@media (max-width: 900px) {
  .carrossel-image {
    min-height: 310px;
  }
}
