.slider-container {
  min-height: 800px;
  width: 100%;
  background-color: black;
  background-image: url('../../../public/images/fome-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
